.root-list {
  padding: 20px;
}
.demo {
  background-color: #f5f5f5;
  border-bottom: 1px solid #000;
  display: flex;
  padding: 10px;
  border-radius: 8px;
}

.title {
  margin: 10px;
}
.avatar {
  align-self: left;
}
.text {
  font-size: 12;
}
